Repository PnX-SI/GeoNature, pull requests merged in 2023-12, with the labels that each got.

#2792 avoid sqla polymorphic errors
  backend/geonature/core/gn_commons/models/base.py
Labels: database, backend

#2791 Hotfix/2.13
  VERSION
  backend/geonature/core/gn_commons/routes.py
  backend/geonature/core/gn_synthese/models.py
  backend/geonature/core/gn_synthese/routes.py
  backend/geonature/migrations/versions/d99a7c22cc3c_add_column_group_inpn_to_v_synthese_for_.py
  backend/geonature/tests/test_synthese.py
  docs/CHANGELOG.md
  docs/admin-manual.rst
  frontend/src/app/GN2CommonModule/form/datalist/datalist.component.html
  frontend/src/app/GN2CommonModule/form/datalist/datalist.component.ts
  frontend/src/app/GN2CommonModule/form/synthese-form/advanced-form/synthese-advanced-form-store.service.ts
  frontend/src/app/metadataModule/af/af-form.component.html
  frontend/src/app/shared/syntheseSharedModule/synthese-info-obs/synthese-info-obs.component.html
  frontend/src/assets/i18n/fr.json
  install/install_all/install_all.ini
Labels: database, frontend, backend

#2842 fix(docs): remove two broken references to removed file
  docs/installation-all.rst
  docs/installation-standalone.rst
Labels: bug, documentation
