Repository PnX-SI/GeoNature, pull requests merged in 2024-03, with the labels that each got.

#2831 remove ngx-mat-select-search - closes #2826 #2827
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/GN2CommonModule/GN2Common.module.ts
  frontend/src/app/GN2CommonModule/form/datalist/datalist.component.css
  frontend/src/app/GN2CommonModule/form/datalist/datalist.component.html
Labels: frontend, ready-to-merge

#2819 allow default value on bool_checkbox
  frontend/src/app/GN2CommonModule/form/dynamic-form-generator/dynamic-form.service.ts
  frontend/src/app/GN2CommonModule/form/dynamic-form/dynamic-form.component.html
Labels: frontend, ready-to-merge

#2959 [MAINTENANCE] Change path and remove branch name in `.gitmodules`
  .gitmodules
Labels: maintenance

#2952 [BACKEND] Extend authorized PostgreSQL database URI
  backend/geonature/utils/config_schema.py
Labels: backend

#2960 feat (doc) add doc
  docs/development.rst
Labels: documentation

#2962 fix GenericFormComponent inheritance - fix #2961
  frontend/src/app/GN2CommonModule/form/acquisition-frameworks/acquisition-frameworks.component.ts
  frontend/src/app/GN2CommonModule/form/areas/areas.component.ts
  frontend/src/app/GN2CommonModule/form/datalist/datalist.component.ts
  frontend/src/app/GN2CommonModule/form/datasets/datasets.component.ts
  frontend/src/app/GN2CommonModule/form/nomenclature/nomenclature.component.ts
  frontend/src/app/GN2CommonModule/form/observers-text/observers-text.component.ts
  frontend/src/app/GN2CommonModule/form/observers/observers.component.ts
Labels: frontend

#2958 [Validation] correction de la récupération des Datasets en scope 1 ou 2
  backend/geonature/core/gn_synthese/utils/query_select_sqla.py
Labels: backend

#2951 Feat/synthese columns
  backend/geonature/core/gn_synthese/routes.py
  backend/geonature/tests/test_synthese.py
  backend/geonature/utils/config_schema.py
  config/default_config.toml.example
  docs/CHANGELOG.md
  frontend/src/app/syntheseModule/synthese-results/synthese-list/synthese-list.component.html
  frontend/src/app/syntheseModule/synthese-results/synthese-list/synthese-list.component.ts
Labels: enhancement, frontend

#2966 [FRONTEND] Remove multiple loading of tile layers in the map component
  frontend/src/app/GN2CommonModule/map/map.component.ts
Labels: frontend

#2963 [IMPORT] Generic labeling for tooltip statistics in the import list
  frontend/src/app/modules/imports/components/import_list/import-list.component.ts
Labels: frontend

#2965 [IMPORT] [FRONTEND] Feat(mapping) sort mapping and put a ng-select
  frontend/src/app/modules/imports/components/import_process/fields-mapping-step/fields-mapping-step.component.html
  frontend/src/app/modules/imports/components/import_process/fields-mapping-step/fields-mapping-step.component.ts
Labels: frontend
