Repository PnX-SI/GeoNature, pull requests merged in 2024-01, with the labels that each got.

#2830 Doc dev - Update release procedure
  docs/development.rst
Labels: ready-to-merge

#2849 fix(synthese) fixing sort in synthese V2
  frontend/src/app/syntheseModule/synthese-results/synthese-list/synthese-list.component.html
  frontend/src/app/syntheseModule/synthese-results/synthese-list/synthese-list.component.ts
Labels: frontend, solved in next release, ready-to-merge

#2779 feat: add Event DRAWSTOP (improve ux)
  frontend/src/app/GN2CommonModule/map/leaflet-draw/leaflet-draw.component.ts
Labels: frontend, solved in next release, ready-to-merge

#2848 admin: fix regression related to sqlachemy 2
  backend/geonature/core/gn_permissions/admin.py
Labels: backend, ready-to-merge

#2838 ajout type financement
  frontend/src/app/metadataModule/af/af-card.component.html
  frontend/src/app/metadataModule/datasets/dataset-card.component.html
Labels: frontend, solved in next release, ready-to-merge

#2761 Add new diagram in the documentation
  docs/_static/architecture_globale.drawio
  frontend/cypress/e2e/metadata-spec.js
Labels: documentation, ready-to-merge

#2684 Feat/Occtax: group3_inpn dans les nomenclatures de saisie
  contrib/occtax/frontend/app/occtax-form/counting/counting.component.html
  contrib/occtax/frontend/app/occtax-form/occurrence/occurrence.component.html
  frontend/src/app/GN2CommonModule/form/data-form.service.ts
  frontend/src/app/GN2CommonModule/form/nomenclature/nomenclature.component.ts
  frontend/src/app/metadataModule/services/actor-form.service.ts
Labels: database, backend, ready-to-merge
